body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 21px, 35px);
  color: #000;
}

p {
  color: #555;
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 16px, 21px);
  line-height: 1.4;
}
